<h2><%= post.title %></h2>
<p>Author: <%= post.author %></p>
<p>Date: <%= post.date.toLocaleDateString() %></p>


<!-- // 
Title: Using CSS Grid Layout, how to move the checkbox beside Husk passord?
Author: Stack Overflow community
Source: Stack Overflow
Date: Accessed on March 10-19, 2024 -->
