<!-- footer.ejs -->
<footer>
    <p>&copy; Social Sync Website.</p>
</footer>

<!-- Bootstrap Bundle JS (including Popper.js) -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.0-beta2/js/bootstrap.bundle.min.js" integrity="sha512-43ishtbiyImxjjU4a9rhXBy7eKtIsrpll8Khe1ghKqh5NyfME8phZs5JRZpRBe1si44WM3tNmnqMym7JRmDQ==" crossorigin="anonymous"></script>
</body>
</html>
