<!-- header.ejs -->
<header>
    <h1>My Website</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/Profile">Profile</a></li>
            <li><a href="/Edit">Edit</a></li>
            <li><a href="/Index">Index</a></li>
            <li><a href="/Login">Login</a></li>
            <li><a href="/blogPost">blogPost</a></li>
        </ul>
    </nav>
</header>
