<!-- header.ejs -->
<header>
    <h1>Social Sync</h1>
    <nav>
        <button class="navbar-toggler" data-bs-target="#my-nav" data-bs-toggle="collapse" aria-controls="my-nav" aria-expanded="false" aria-label="Toggle Navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div id="my-nav" class="collapse navbar-collapse">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/"><i class="fas fa-home me-1"></i>Home</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/Profile">Profile</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/Edit">Edit</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/Index">Index</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/Login">Login</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/blogPost">blogPost</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
