<nav>
    <a href="/" class="button">Home</a>
    <a href="/profile" class="button">Profile</a>
    <a href="/editProfile" class="button">Edit Profile</a>
    <a href="/blogPosts/new" class="button">New Post</a>
    <a href="/blogPost" class="button">Blog Posts</a>
    <a href="/search" class="button">Search</a>
    <a href="/logout" class="button">Log Out</a>
</nav>
