// need specific navbar for the blogging feature
<nav>
    <a href="/" class="button">Home</a>
    <a href="/profile" class="button">Profile</a>
    <a href="/editProfile" class="button">Edit Profile</a>
    <a href="/newPost" class="button">New Post</a>
    <a href="/blogPost" class="button">Blog Posts</a>
    <a href="/search" class="button">Search</a>
    <a href="/logout" class="button">Log Out</a>
</nav>


// connecting all of them and then have the design come out afterwards
// but need to have all the induces and CRUD functions ready to go
// thinking about 1 or 2 of them to have?

