<nav>
    <a href="/" class="button">Home</a>
    <a href="/profile" class="button">Profile</a>
    <!-- <a href="/editProfile" class="button">Edit Profile</a> -->
    <a href="/newBlog" class="button">New Post</a>
    <a href="/blogs" class="button">Blogs</a>
    <!-- <a href="/editBlogs" class="button">Edit Posts</a> -->
    <a href="/login" class="button">Log Out</a>
</nav>
