<div class="container-custom">
    <h2>Update Profile Picture</h2>
    <form action="/save-profile-picture" method="post" enctype="multipart/form-data" class="form-custom">
        <div class="mb-3-custom">
            <label for="profilePicture" class="form-label-custom">Choose Profile Picture</label>
            <input class="form-control-custom" type="file" id="profilePicture" name="profilePicture">
        </div>
        <button type="submit" class="btn-primary-custom">Upload Picture</button>
    </form>
</div>
