<div class="classStatus">
    <form action="/updateStatus" method="POST">
        <h2>Status Update:</h2>
        <label for="status">Status:</label><br>
        <textarea id="status" name="status" placeholder="Tell A Great Story!" rows="4" cols="50"></textarea><br>

        <input type="submit" value="Update Status">
    </form>
</div>
