<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/forms.css">  
    <style>
        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
        }
        .glassy {
            background-color: rgba(255, 255, 255, 0.8);
            border-radius: 10px;
            padding: 20px;
            text-align: center;
        }
    </style>
</head>
<body>
    <%- include('./partials/navbar.ejs', { header: 'Your Header Value' }) %>
    <div class="container">
        <div class="glassy">
            <h1>404 Error</h1>
            <p>Sorry, Go Back Home!</p>
            <a href="/">Go Home</a>
        </div>
    </div>
</body>
</html>
