<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/blogPost.css">
</head>
<body>

    <% include ./views/partials/header.ejs %>

    <!-- Profile Box -->
    <div class="profile-box">
        <img src="profile-picture.jpg" alt="Profile Picture">
        <h2>John Doe</h2>
        <p>Email: Hello.smith@gmail.com </p>
        <p>Location: New York, USA</p>
        <button>Edit Profile</button>
    </div>

    <!-- Edit Account Info Section -->
    <div class="edit-account">
        <h2>Edit Account Information</h2>
        <form action="/update-account" method="post">
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" value="Enter Name">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" value="Enter Email">
            <label for="location">Location:</label>
            <input type="text" id="location" name="location" value="Enter Location">
            <button type="submit">Save Changes</button>
        </form>
    </div>
    <% include ./views/partials/footer.ejs %>
    
</body>
</html>
