
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Posts</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/forms.css">  
    <%- include('./partials/navbar.ejs', { header: 'Your Header Value' }) %>
    <h1>Blog Posts</h1>
</head>
<%- include('./partials/blogInputs.ejs')%>

<a href="/">Go Back</a>
