<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Post</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/forms.css">  
    <%- include('./partials/navbar.ejs', { header: 'Your Header Value' }) %>
    <h1>Create New Post</h1>
</head>
<body>
 <%- include('./partials/status.ejs')%>
        <form action="/updateStatus" method="POST">
            <label for="status">Status:</label>
            <input type="text" id="status" name="status" required>
            <button type="submit">Update Status</button>
          </form>

    <form action="/blogPost/" method="POST">
        <%- include('./partials/blogInputs.ejs')%>

    </form>
    <a href="/">Go Back</a>
    
    
  
</body>
</html>
