<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Account</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/forms.css">  
</head>
<body>
    <div class="container custom">
        <!-- Login Form -->
        <form action="/login" method="POST" class="login-form custom">
            <h2>Login</h2>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" placeholder="Enter username">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" placeholder="Enter password">
            <button type="submit">Login</button>
        </form>
    </div>
    
    <!-- Navbar -->
    <%- include('./partials/navbar.ejs', { header: 'Your Header Value' }) %>

    <h1>Your Account</h1>

    <!-- Profile Form -->
    <form action="/editProfile/updateProfile" method="POST">
        <%- include('./partials/profilePhoto.ejs')%>
        <%- include('./partials/profileInputs.ejs')%>
        <button type="submit">Update Profile</button>
    </form>

    <!-- Blog Post Form -->
    <form action="/blogPost/" method="POST">
        <%- include('./partials/blogInputs.ejs')%>
        <button type="submit">Submit Blog Post</button>
    </form>

    <a href="/">Go Back</a>
</body>
</html>
