@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&subset=greek');

body {
    background-image: url('https://imgur.com/a/B19rxY2');
    background-size: cover; 
    background-repeat: no-repeat; 
  margin: 0;
  font-family: 'Comfortaa', cursive;
}

h1, span, p {
  font-family: 'Righteous', cursive;
  background: #3B5998; /* MySpace blue */
  color: #FFFFFF; /* White text */
  margin: 0;
  margin-bottom: .5em;
  padding: 1em;
  text-align: center;
}


nav {
    float: right;
}
.button {
    color: #FFFFFF; /* White text */
    background: #0084FF; /* MySpace link blue */
    text-decoration: none;
    text-shadow: 1px 1px 1px black;
    font-size: 1em;
    padding: 0.5em 1em; /* Adjust padding for spacing */
    margin: 0.5em; /* Adjust margin for spacing */
    border-radius: 10%;
  }
  
  .button:hover {
    background: #0056b3; /* Darker shade of MySpace link blue on hover */
  }
  

h4 {
  text-align: center;
  text-decoration: none;
  text-shadow: 1px 1px 1px black;
  font-size: 1.5em;
  background: rgba(193, 235, 187, .9);
}

a {
  color: #0084FF; /* MySpace link blue */
  text-decoration: none;
  text-shadow: 1px 1px 1px black;
  font-size: 1.5em;
}

a:hover {
  color: #FFFFFF; /* White text on hover */
}

ul {
  display: flex;
  justify-content: space-evenly;
}

li {
  list-style: none;
}

li a {
  color: #0084FF; /* MySpace link blue */
}

input[type=text] {
  padding: .3em;
}

input[type=submit] {
  padding: .3em;
  color: #FFFFFF; /* White text */
  background: #0084FF; /* MySpace link blue */
  font-size: 1em;
  border-radius: 10%;
}
