@import url('https://fonts.googleapis.com/css?family=Inconsolata');

body {
  background: url("https://amymhaddad.s3.amazonaws.com/morocco-blue.png"),
             url("https://amymhaddad.s3.amazonaws.com/oriental-tiles.png");
  margin: 0;
  font-family: 'Comfortaa', cursive;
}

h1, span, p {
  font-family: 'Righteous', cursive;
  background: #3B5998; /* MySpace blue */
  color: #FFFFFF; /* White text */
  margin: 0;
  margin-bottom: .5em;
  padding: 1em;
  text-align: center;
}

h4 {
  text-align: center;
  text-decoration: none;
  text-shadow: 1px 1px 1px black;
  font-size: 1.5em;
  background: rgba(193, 235, 187, .9);
}

a {
  color: #0084FF; /* MySpace link blue */
  text-decoration: none;
  text-shadow: 1px 1px 1px black;
  font-size: 1.5em;
}

a:hover {
  color: #FFFFFF; /* White text on hover */
}

ul {
  display: flex;
  justify-content: space-evenly;
}

li {
  list-style: none;
}

li a {
  color: #0084FF; /* MySpace link blue */
}

input[type=text] {
  padding: .3em;
}

input[type=submit] {
  padding: .3em;
  color: #FFFFFF; /* White text */
  background: #0084FF; /* MySpace link blue */
  font-size: 1em;
  border-radius: 10%;
}
