/* In profile.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f2f5;
    color: #333;
}

h1 {
    color: #1877f2; /* Facebook Blue */
}

.navbar {
    background-color: #1877f2; /* Facebook Blue */
}

.nav-link {
    color: #fff;
}

.container {
    padding-top: 20px;
}

/* Profile Box */
.profile-info {
    background-color: #fff;
    border: 1px solid #dddfe2;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}

.profile-info h2 {
    font-size: 20px;
    color: #050505; /* Black */
    margin-bottom: 10px;
}

.profile-info ul {
    padding: 0;
}

.profile-info li {
    list-style-type: none;
    margin-bottom: 10px;
}

.edit-button {
    background-color: #1877f2; /* Facebook Blue */
    border: none;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.edit-button:hover {
    background-color: #0e60c5; /* Darker Facebook Blue */
}

/* Edit Fields */
.edit-field {
    border: 1px solid #dddfe2;
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
}

.edit-field input[type="text"] {
    width: calc(100% - 20px);
    border: none;
    background-color: transparent;
}

.edit-field input[type="text"]:focus {
    outline: none;
    background-color: #f0f2f5;
}

.display-field {
    display: inline-block;
    margin-left: 10px;
}

/* Footer */
.footer-section {
    background-color: #f0f2f5;
    padding: 20px 0;
    text-align: center;
}

.footer-section p {
    margin: 0;
    color: #65676b; /* Facebook Dark Gray */
}
