/* In profile.css */
body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #333;
}

h1 {
    color: #63a1ff;
}

.navbar {
}

.nav-link {
    color: #fff;
}

.container {
    padding-top: 20px;
    background-color: initial; /* Reset to default */
}

.profile-content {
    background-color: #fff; /* This can be removed to inherit Bootstrap's default */
    border: 1px solid #dddfe2; /* This can be removed to inherit Bootstrap's default */
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
}

.profile-content h2 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

.profile-content ul {
    padding: 0;
}

.profile-content li {
    list-style-type: none;
    margin-bottom: 10px;
}

.edit-button {
    background-color: #63a1ff;
    border: none;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
}

.edit-button:hover {
    background-color: #4077d6;
}

.edit-field {
    border: 1px solid #dddfe2; /* This can be removed to inherit Bootstrap's default */
    border-radius: 5px;
    padding: 5px;
    margin-bottom: 10px;
}

.edit-field input[type="text"] {
    width: calc(100% - 20px);
    border: none; /* This can be removed to inherit Bootstrap's default */
    background-color: #f0f2f5;
}

.edit-field input[type="text"]:focus {
    outline: none;
    background-color: #e0e5eb;
}

.display-field {
    display: inline-block;
    margin-left: 10px;
}

.footer-section {
    background-color: #f0f2f5;
    padding: 20px 0;
    text-align: center;
}

.footer-section p {
    margin: 0;
    color: #65676b;
}
